<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Django_test</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700">
    <link rel="stylesheet" href="/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/Article-List.css">
    <link rel="stylesheet" href="/assets/css/Brands.css">
    <link rel="stylesheet" href="/assets/css/Footer-Clean.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/css/pikaday.min.css">
    <link rel="stylesheet" href="/assets/css/Login-Form-Dark.css">
    <link rel="stylesheet" href="/assets/css/Navigation-Clean.css">
    <link rel="stylesheet" href="/assets/css/Registration-Form-with-Photo.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
</head>

<body>{% include "header_inc.html" %}
    <div id="content">{% load i18n %}{% if user.is_authenticated %} 
        <div class="jumbotron" id="Loggedin">
            <h1>{% trans 'Heading text' %}</h1>
            <p>{% trans 'Welcome' %} {{ user.username }}! <br>{% trans "There is no need to login again, you may lig-out if you wish." %}</p>
            <p><a class="btn btn-primary" role="button" href="{% url 'logout' %}">{% trans "Log out" %}</a></p>
        </div>{% else %}
        <div class="jumbotron text-center" id="Loggedout">
            <h1>{% trans 'Please log in' %}</h1>
            <p>{% trans "Please enter some details below:" %}</p>
            <form id="genericform" method="post">{% csrf_token %}
{{ form.as_p }}
<button type="submit">{% trans "Login" %}</button></form>
            <div id="buttonarea">
                <h3>{% trans "Not yet registered?" %}</h3>
                <p>{% trans 'Please fill in some login details to get started. Press the button below...' %}</p><a class="btn btn-primary" role="button" href="{% url 'register' %}">{% trans 'Register now!' %}</a></div>
            <div id="buttonarea">
                <h3>{% trans 'Forgot your password?' %}</h3>
                <p>{% trans 'In case you do not remember your password, please press button below:' %}</p><a class="btn btn-primary" role="button" href="{% url 'password_reset' %}" style="background-color: rgb(62,255,14);color: #222222;">{% trans 'Reset Password' %}</a></div>
        </div>
    </div><div>{% endif %}{% include "footer_inc.html" %}{% load i18n %}</div>
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/pikaday.min.js"></script>
    <script src="/assets/js/theme.js"></script>
    <script src="/assets/js/tlu_helper.js"></script>
    <script src="/assets/js/tlu_settingshelper.js"></script>
    <script src="/assets/js/tlu_levelsupport.js"></script>
</body>

</html>