{% load i18n %}{% load menu_tags %}
    <div id="Head" style="width: 1200px;">
        <nav class="navbar navbar-light navbar-expand-md fixed-top navigation-clean" style="background-color: rgb(37,96,160);">
            <div class="container"><img src="/assets/img/tlu/BW3307_24_2015_55x55_v1.png"><a class="navbar-brand" id="compname" href="https://tlc-it-consulting.com" target="_blank" style="font-size: 20px;color: rgb(254,254,254);filter: saturate(101%);">TLC IT-Consulting</a><button data-toggle="collapse"
                    class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon" style="color: rgb(237,244,244);background-color: rgba(255,255,255,0.48);"></span></button>
                <div class="collapse navbar-collapse"
                    id="navcol-1">
                    <ul class="nav navbar-nav ml-auto justify-content-end justify-content-md-center justify-content-lg-end" >
                        <li class="nav-item" role="presentation"><div class="vertical-center lightblue rounded" style="display: inline">
{% spaceless %}
{% get_available_languages as LANGUAGES %}
{% if LANGUAGES|length > 1 %}
    {% get_current_language as cur_lang %}
<form action="{% url 'set_language' %}" method="post" style="display: inline;">{% csrf_token %}
    <input name="next" type="hidden" value="{{ redirect_to }}">
    <select name="language" onchange="javascript:form.submit()">
    {% get_language_info_list for LANGUAGES as languages %}
    {% for language in languages %}
        <option value="{{ language.code }}"{% if language.code == cur_lang %} selected{% endif %}>
        {{ language.name_local }} ({{ language.code }})
        </option>
    {% endfor %}
    </select>
</form>
{% endif %}
{% endspaceless %}
</div></li>
						{% show_menu 0 100 100 100 "tlu_polltest/menu.html" %}
                    </ul>
                </div>
            </div>
        </nav>
    </div>
