<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>tlu_joyit_game</title>
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon_16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon_32.png">
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700">
    <link rel="stylesheet" href="/assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="/assets/css/Article-List.css">
    <link rel="stylesheet" href="/assets/css/Brands.css">
    <link rel="stylesheet" href="/assets/css/Footer-Clean.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/css/pikaday.min.css">
    <link rel="stylesheet" href="/assets/css/Login-Form-Dark.css">
    <link rel="stylesheet" href="/assets/css/Navigation-Clean.css">
    <link rel="stylesheet" href="/assets/css/Registration-Form-with-Photo.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="stylesheet" href="/assets/css/Social-Icons.css">
</head>

<body>{% include "header_inc.html" %}{% load i18n %}
    <div id="content">
        <h1 class="text-center">{% trans "Some impressions" %}&nbsp;</h1>
        <p class="text-center">{% trans "Please find below some impressions of the game. It is for sure worth to give it a try. Registration is no pain and will only be used pure locally on this device." %}</p>
    </div>
    <div>
        <div class="container text-center">
            <div class="row justify-content-center">
                <div class="col-md-12"><img class="img-thumbnail img-fluid bg-white border rounded-0 border-white" src="/assets/img/tlu/level_03.png"></div>
            </div>
            <div class="row">
                <div class="col-md-4"><img class="img-thumbnail img-fluid" src="/assets/img/tlu/level_overview.png"></div>
                <div class="col-md-4"><img class="img-thumbnail img-fluid" src="/assets/img/tlu/level01.png" style="width: 258px;"></div>
                <div class="col-md-4"><img class="img-thumbnail img-fluid" src="/assets/img/tlu/level_01_end.png"></div>
            </div>
        </div>
    </div><div>{% include "footer_inc.html" %}{% load i18n %}</div>
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/pikaday.min.js"></script>
    <script src="/assets/js/theme.js"></script>
    <script src="/assets/js/tlu_helper.js"></script>
    <script src="/assets/js/tlu_settingshelper.js"></script>
    <script src="/assets/js/tlu_levelsupport.js"></script>
</body>

</html>