<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Django_test</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700">
    <link rel="stylesheet" href="/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="/assets/css/Article-List.css">
    <link rel="stylesheet" href="/assets/css/Brands.css">
    <link rel="stylesheet" href="/assets/css/Footer-Clean.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/css/pikaday.min.css">
    <link rel="stylesheet" href="/assets/css/Login-Form-Dark.css">
    <link rel="stylesheet" href="/assets/css/Navigation-Clean.css">
    <link rel="stylesheet" href="/assets/css/Registration-Form-with-Photo.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
</head>

<body>
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-white portfolio-navbar gradient" style="height: 123px;padding: 7px;">
        <div class="container"><img src="/assets/img/tlu/BW3307_24_2015_55x55_v1.png" style="width: 143px;"><a class="navbar-brand logo" href="https://tlc-it-consulting.com" style="padding: 25px;">TLC IT-Consulting</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navbarNav"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div
                class="collapse navbar-collapse" id="navbarNav">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'tlu_joyit_game:index' %}">Home</a></li>
                </ul>
        </div>
        </div>
    </nav>
    <div class="register-photo"></div>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-4"><img class="img-fluid d-flex float-left flex-column flex-grow-1 flex-shrink-1" src="/assets/img/tlu/RB-JoyPi-2g.png"></div>
                <div class="col-md-4">
                    <h3 class="text-center text-info">Please register here to get started</h3><div>  
    <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
        <div class="form-group"><button class="btn btn-primary btn-block" type="submit">Sign up</button></div>
  </form>
</div>
<a class="text-center" href="{% url 'login' %}">Already registered? Click here to login</a></div>
                <div class="col-md-4"><i class="fa fa-info-circle d-inline-flex float-left flex-row flex-grow-1 flex-shrink-1" style="width: 23px;height: 24px;font-size: 39px;color: rgb(32,124,215);"></i>
                    <h2 class="text-center text-info">Please read</h2>
                    <p class="text-center">The sign-up is only needed to store your results and to gice you a name. It won't be used anywere outside of this lottle game, nor will it be used to get into contact with you.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="form-container"></div>
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/pikaday.min.js"></script>
    <script src="/assets/js/theme.js"></script>
    <script src="/assets/js/tlu_helper.js"></script>
    <script src="/assets/js/tlu_settingshelper.js"></script>
</body>

</html>